	<a href="/" class="logo"><img src="/images/logo.svg" alt="SUAVE Code"><span>{{site.title}}</span></a>

	<section>
		<h1 class="greetings">{{ site.greetings }}</h1>
		{{ site.description | markdownify }}
	</section>

	<nav class="main-nav">
		<ul>
			<li><a class="btn page-link {% if page.url == '/index.html' or page.categories != nil %}active{% endif %}" href="/">Blog</a></li>
		{% for _page in site.pages %}
			{% if _page.title %}
				<li><a class="btn page-link {% if _page.url == page.url %}active{% endif %}" href="{{ _page.url | prepend: site.baseurl }}">{{ _page.title }}</a></li>
			{% endif %}
		{% endfor %}
		</ul>
	</nav>
