<footer>
	<div class="social-media-list">
		{% if site.github_username %}
		<a href="https://github.com/{{ site.github_username }}">
            <span class="icon  icon-github">
                <img src="/images/github.svg">
            </span>
		</a>
		{% endif %}
        {% if site.travis_username %}
	    <a href="https://travis-ci.org/suavecode/SUAVE">
            <span class="icon  icon-travis">
                <img src="/images/travis.svg">
            </span>
		</a>
		{% endif %}
		{% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="icon icon-twitter">
                <img src="/images/twitter.svg">
            </span>
        </a>
		{% endif %}
		{% if site.dribbble_username %}
        <a href="https://dribbble.com/{{ site.dribbble_username }}">
            <span class="icon icon-dribbble">
                <img src="/images/dribbble.svg">
            </span>
        </a>
		{% endif %}
	</div>

	<small>Copyright &copy; 2015 <br> Stanford Aerospace Design Lab <br> All rights reserved</small>
</footer>
