/**
 * Side Nav
 */
.left-nav {
	position: fixed;
	top: 0;
	bottom: 0;
	font-weight: 400;
	color: $dark-grey;
	width: $nav-width;
	float: left;
	padding: $default-padding;
	text-align: center;
	overflow: auto;
	margin: 0px;
	padding: 0px;

	@extend .border-box;

	.greetings {
		font-size: 24px;
		color: $red;
		margin-bottom: $default-margin-bottom;
	}

	.logo {
		margin: auto auto;
		width: 200px;
		height: 222px;
		display: block;
		margin-bottom: $default-margin-bottom;
		position: relative;
		top: 30px;


		img {
			width: 100%;
			height: 90%;
		}

		span {
			display: inline-block;
			text-indent: -10000px;
		}
	}

	strong {
		color: $red;
		font-weight: bold;
		padding: 2px 5px;
		border-bottom: 1px solid lighten($red, 20%);
	}

	section {
		margin-bottom: $default-margin-bottom;
	}

	ul {
		list-style-type: none;
	}

	.main-nav {
		h5 {
			color: lighten($red, 7%);
			font-size: 12px;
			margin-bottom: 24px;
		}

		ul  {
			li {
				margin-bottom: 10px;

				a {
					width: 125px;
				}

				@media screen and (max-width: 960px) {
					display: inline;
					margin-right: 12px;
				}

				@media screen and (max-width: 580px) {
					display: block;
					width: 100%;
					a {
						width: 90%;
					}
				}
			}
		}
	}


	@media screen and (max-width: 960px) {
		width: 100%;
		float: none;
		position: relative;
		background-color: #F6F6F6;
		border-bottom: 1px solid #CFCFCF;
	}
    
    footer {
        margin-top : 35px;
    }

}



/**
 * Main Content
 */
.main-content {
	position: relative;
	overflow: auto;
	float: left;
	width: 648px;
	margin: 0px;
	padding: 0px;
	margin-left: $nav-width;

	@extend .border-box;

	@media screen and (max-width: 960px) {
		width: 100%;
		float: none !important;
		margin-left: 0;
	}

	footer {
		width: 100%;
		bottom: 24px;
		font-weight: 400;
		color: lighten($black, 60%);
		text-align: center;
		padding: 24px;

		margin-top: 88px;
		@extend .border-box;

		hr {
			background-color: lighten($black, 50%);
		}

		ul {
			margin-bottom: 24px;
			li {
				display: inline;
				margin-right: 6px;

				a {
					text-decoration: none !important;
				}
				a:hover {
					opacity: 0.8;
				}
			}
		}

		@media screen and (min-width: 960px) {
			width: 264px;
			position: fixed;
			bottom: 0;
			margin-top: 0px;
			margin-left: -290px;
		}
	}
    
    
}



/**
 * hero
 */
.hero {
	position: relative;
	height: 160px;
	text-align: center;
	font-weight: bold;

	.title {
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-size: 48px;
		margin-top: 0px;
		margin-bottom: 4px;
		line-height: 1.2em;
		font-weight: normal;

		@media screen and (max-width: 600px) {
			font-size: 38px;
		}
	}

	.subtitle {
		color: $red;
		font-size: 14px;
		text-transform: uppercase;
	}
}

/**
 * content
 */
.content {
	padding: 24px;

	h1, h2 {
		font-weight: normal;
	}
	h1 {
		text-align: center;
		font-size: 36px;
	}
	h2 {
		font-size: 32px;
	}

	p {
        color: $dark-grey
		//color: lighten($black, 40%)
	}

}


/**
 * post
 */
.post {
	list-style-type: none;
	overflow: auto;
	border-bottom: 1px solid $light-grey;
	padding: 4px 0;

	&:last-child {
		border-bottom: 0;
	}

	> div {
		float: left;
		padding: 2px;
		@extend .border-box;

		&.span-1 {
			font-size: 11px;
			width: 90px;
			font-weight: bold;
			text-transform: uppercase;
			overflow: hidden;
			&.comment-count {
				width: 60px;
				a, a:active, a:visited {
					color: $red;
					text-decoration: none !important;
				}
			}

		}

		&.span-10 {
			width: 420px;
		}

		@media screen and (max-width: 960px) {
			&.span-10 {
				float: none;
				clear: both;
				width: 100%;
			}
		}
	}

	.post-date {
		color: lighten($black, 60%);
	}

	.post-link {
		color: $black;
		font-size: 18px;
		font-weight: 700;

		&:hover {
			color: $red;
		}
	}

}

.disqus-comment-count {
}

.comment-icon {
	width: 16px;
	height: 16px;
	margin-left: 3px;
}

em img {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
